body {
    background-color: #F1F1F1;
    font-size: 1em;
    font-family: 'Tahoma', sans-serif;
}

h1 {
    text-align: center;
}

ul {
    padding: 0px;
}

ul li {
    display: inline;
    list-style-type: none;
    margin: 5px;
    padding: 0;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: gray;
}

.nav {
    display: block;
    width: 70%;
    max-width: 70%;
    margin: 5px auto;
    display: flex;
    justify-content: space-around;
    color: black;
}

.tab {
    padding: 10px;
    border-radius: 8px;
    background-color: #BCD2EE;
    cursor: pointer;
}

.tab:hover {
    background-color: white;
    color: blue;
}

.tabSelected {
    background-color: white;
    color: blue;
}

.bodyContainer {
    width: 600px;
    height: 460px;
    margin: 5px auto;
    border-radius: 8px;
    border: white 2px solid;
    background-color: white;
    overflow-y: scroll;
}

.contentsContainer {
    margin: auto;
    width: 500px;
    height: 100%;
}
.contentsContainer > div {
    display: none;
}
.text {
    height: 130px;
    display: block;
}
.credits {
    text-align: center;
    font-size: .7em;
}

#fosterImg {
    height: 82px;
    width: 164px;
}

#portfolioImg {
    height: 100px;
    width: 100px;
}

#linkedinImg {
    height: 32px;
    width: 132px;
}
